{% block header%}
<title>Guitar Shop</title>

{% load static %}

<meta charset="UTF-8" />
<link href="{% static 'css/index.css' %}" rel="stylesheet">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container-fluid" style=" padding-right: 0px; padding-left: 0px;margin-right: auto;margin-left: auto;">
    <div class="header">
        <nav class="navbar col-lg-12">
            <div class="logo">
                <img class="img-circle" src="{% static 'images/logoo.jpg' %}" />
            </div>
       
                <button type="button" class="home_btn btn btn-primary" style="background-color: #EFD5B8; border-color: #EFD5B8;">
                    <a href={% url 'home' %} style="color: white; text-decoration: none;">Home</a></button>

                    {% if user.is_superuser%}
                    <button type="button" class="home_btn btn btn-primary" style="background-color: #EFD5B8; border-color: #EFD5B8;">
                        <a href={% url 'create_caps' %} style="color: white; text-decoration: none;">Add</a></button>

                    <button type="button" class="home_btn btn btn-primary" style="background-color: #EFD5B8; border-color: #EFD5B8;">
                        <a href="#" style="color: white; text-decoration: none;">Orders</a></button>
                    {%else%}


                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style:"background:#EFD5B8; color:black;">Featured</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href={% url 'most_viewed' %}>Most Viewed</a> 
                            <a class="dropdown-item" href={% url 'best_seller' %}>Best Seller</a>
                            <a class="dropdown-item"href={% url 'latest_arrivals' %}>Latest Arrivals</a>
                        </div>
                </div>  
                

                    <button type="button" class="home_btn btn btn-primary" style="background-color: #EFD5B8; border-color: #EFD5B8;">
                        <a href={% url 'about' %} style="color: white; text-decoration: none;">About</a></button>
                        {%endif%}


              <form class="form">
                <input type="text" id="search" class="form-control form-control-lg nav-item" placeholder="Search" />
            </form>

                <button class="search_btn btn btn-secondary">Search</button>
                <button class="reset_btn btn btn-danger">Reset</button>
                {% if user.is_authenticated%}
                {% comment %} <button class="login_btn btn btn-info"><a href={% url 'show_user_details' %} style="color:white;">{{user.username}}</a></button>
                {%else%}
                <button class="login_btn btn btn-success"><a href={% url 'login' %}>Login</a></button>
                {%endif%}

                {% if user.is_authenticated%}
                <button class="logout_btn btn btn-secondary"><a href={% url 'logout' %} style="color:white;">Log Out</a></button>
                {%endif%}


                {% if user.is_authenticated%}
                <button class="delete_btn btn btn-danger"><a href="delete_user/{{user.id}}" style="color:white;">Delete User</a></button> {% endcomment %}

                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background:#EFD5B8; color:black;">{{user.username}}</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href={% url 'show_user_details' %}>User Details</a>
                            <a class="dropdown-item" href={% url 'logout' %}>Log Out</a>
                            <a class="dropdown-item" href="delete_user/{{user.id}}">Delete User</a>
                        </div>

                </div>
                {% if user.is_superuser%}
                {%else%}
                <button class="btn btn-warning"><a class="dropdown-item" href={% url 'cart' %} style="color:black; text-decoration:none;"> Go to my Cart</a></button>
                {%endif%}
                {%else%}
                <button class="login_btn btn btn-warning"><a href={% url 'login' %} style="color:white; text-decoration:none;">Login</a></button>
                {%endif%}

            </div>

          </nav>

    </div>
{% endblock %}

{% block body%}
this is body
{% endblock %}

{% block footer%}
<div class="footer col-lg-12">

    <div class="left-footer">
        <div class="copyright">
            &copy;2022 <strong class="footer-logo" style="color: gold;"> Guitar Shop</strong>
            <div>We make custom and high quality guitar <a href={% url 'home' %} style="color: #fff;">guitarshop.com</a></div>
                
        </div>
    </div>
    
    
    <div class="middle-footer">
                <h5 class="heading-1">Support:</h5>
            
                <ul class="footer-list">
                <li><a href="https://www.youtube.com">Youtube</a></li>
                <li><a href="https://www.facebook.com">Facebook</a></li>
                <li><a href="https://www.instagram.com">Instagram</a></li>         
                </ul>
    </div>

    <div class="right-footer" style="float: left;">
        <div class="footer_logo" style="width:100%">
            <img src = "{%static 'images/logoo.jpg'%}" style="width:25% ; margin:10px">
        </div>
    {% comment %} <ul class="social-list">
        <li><a href="https://www.youtube.com"><img src="{% static 'images/social-icon-1.png' %}"></a></li>
        <li><a href="https://www.facebook.com"><img src="{% static 'images/social-icon-2.png' %}"></a></li>
        <li><a href="https://www.instagram.com"><img src="{% static 'images/social-icon-3.png' %}"></a></li>
    </ul>
    </div> {% endcomment %}

</div>
</div>

{% endblock %}